@import "~@/css/reset.css";
@import "~@/css/variable.css";

#app {
    display: flex;
    justify-content: center;
    align-content: center;
    color: $fontColor;
    .hello-world {
        color: $mainColor;
    }
}
