@import "~@/css/variable.css";

:global #app {
  color: $fontColor;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-text {
  color: $mainColor;
  cursor: pointer;
}

.overflow-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


